<div class="container mx-auto mt-28 px-5">
<h1 class="text-xl hover:bg-gray-100 hover:text-blue-600 rounded-md px-3 py-2 font-bold"><a target="_blank" href="https://superagi.com/autonomous-agents-hackathon/">Agents Hackathon August 18-20, 2023</a></h1>
<ul>
  <li class="mt-5 px-4">
    <a target='_blank' href="https://karandeepsingh.tech/" class="hover:bg-gray-100 hover:text-blue-600 rounded-md px-3 py-2 text-lg font-medium">Karandeep Singh</a>
  </li>
  <li class="mt-5 px-4">
    <a target='_blank' href="https://logwood.dev/" class="hover:bg-gray-100 hover:text-blue-600 rounded-md px-3 py-2 text-lg font-medium">Richard Logwood</a>
  </li>
</ul>
</div>
