<div class="container mx-auto mt-28 px-5">

  <h1 class="text-xl font-bold">Instructions</h1>
  <p>
    <ol>
      <li class="mt-5 px-4">
        1. Go to the Analyze page
      </li>
      <li class="mt-5 px-4">
        2. Enter a stock symbol and press the Analyze button
      </li>
      <li class="mt-5 px-4">
        3. Wait for the analysis to complete and press the ChartIt button
      </li>
    </ol>
  <p>
</div>
